.header {
    padding: 60px;
    text-align: center;
    background: url("/static/home/bg_GenCo1.png") center no-repeat;
    color: white;
    font-size: 30px;
}

.footer {
    background: #2e6da4 none repeat scroll 0 0;
    color: white;
    padding: 1rem 1.5rem 1rem;
}

.footer h4 {
    color: white;
}

.footer p {
    padding: 1px;
    margin-bottom: 5px;
}

.field-label {
    flex-grow: 2;
}

.question-detail {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
}

.question-detail .left-content .card-footer {
    border-top: 0;
}

.question-detail .right-content .button {
    min-width: 54px;
}

.header {
    padding: 60px 60px 30px 60px;
}

.is-small.input,
.is-small.textarea {
    font-size: 0.8rem;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper {
    border-color: #dbdbdb;
    border-radius: 4px;
}

.datetimepicker-dummy .datetimepicker-dummy-wrapper::before,
.datetimepicker-dummy .datetimepicker-dummy-wrapper:before {
    background-color: #3498db;
}


.questions .button {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
