{% extends "base_v2.html" %}
{% load static %}
{% load i18n%}
{% load quiz_tags %}
{% load utils_tag %}

{% block title %} {{ quiz.title }} {% endblock %}

{% block content %}
<div style="width: 100%; display:inline-block;">
    <p class="title is-4 is-spaced is-pulled-left">
        {{ quiz.title }}
    </p>
    <p class="is-pulled-right">
        Thời gian còn lại: <b id="countdown">{{ time_left_f }}</b>
    </p>
</div>
<div class="columns">
    <div class="column is-three-quarters pt-0">
        <form action="" method="POST">{% csrf_token %}
        <input type=hidden name="question_id" value="{{ question.id }}">
        <div class="card">
            <div class="card-content" style="min-height: 65vh;">
                <div>
                    <p><b>Câu hỏi:</b></p>
                    <p class="ml-4 mt-4">{{ question.content }}</p>
                    {% if question.figure %}
                        <img class="ml-4" src="{{ question.figure.url }}">
                    {% endif %}
                    <p class="mt-4"><b>Trả lời:</b></p>
                    <ul class="list-group ml-4 mt-4">
                        {% for answer in form.answers %}
                            <li class="list-group-item">
                                {{ answer }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item has-text-centered">
                    <input type="submit" value="Câu trước" class="button is-info is-outlined mr-4" >
                    <input type="submit" value="Trả lời" class="button is-info mr-4" >
                    <input type="submit" value="Nộp bài" class="button is-warning mr-4" >
                </div>
            </footer>
        </div>
        </form>
    </div>
    <div class="column is-one-quarter pt-0 questions">
        <div class="card">
            <div class="card-content" style="min-height: 70vh;">
                {% for ques in sitting %}
                    {% if forloop.counter == 1 %}
                        <div class="buttons mb-1">
                    {% endif %}
                            {% if ques == question.id %}
                                <button class="button is-warning">
                            {% elif ques in answered %}
                                <button class="button is-info">
                            {% else %}
                                <button class="button is-light">
                            {% endif %}

                            <a href="/{{ quiz.url }}/take/{{ ques }}">{{ forloop.counter }}</a>
                        </button>
                    {% if forloop.counter|divisibleby:4 %}
                        </div>
                        <div class="buttons mb-1">
                    {% endif %}
                    {% if forloop.counter == quiz.max_questions %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_script %}
<script type="text/javascript">
    var upgradeTime = {{time_left_s}};
    upgradeTime = upgradeTime - 1;
    var seconds = upgradeTime;
    function timer() {
        if (seconds < 0) {
            document.getElementById('countdown').innerHTML = "Hết giờ";
            return;
        }

        var days        = Math.floor(seconds/24/60/60);
        var hoursLeft   = Math.floor((seconds) - (days*86400));
        var hours       = Math.floor(hoursLeft/3600);
        var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
        var minutes     = Math.floor(minutesLeft/60);
        var remainingSeconds = seconds % 60;
        function pad(n) {
            if (n < 10) {
                if (n == 0) {
                    return 0;
                }
                return "0" + n;
            } else {
                return n;
            }
        }
        document.getElementById('countdown').innerHTML = pad(hours) + ":" + pad(minutes) + ":" + pad(remainingSeconds);
        if (seconds == 0) {
            clearInterval(countdownTimer);
            document.getElementById('countdown').innerHTML = "Hết giờ";
        } else {
            seconds--;
        }
    }
    var countdownTimer = setInterval('timer()', 1000);
</script>
{% endblock %}
