{% load i18n %}
{% load static %}
{% load utils_tag %}
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- styles -->
    <link rel="stylesheet" href="{% static '/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static '/css/fontawesome/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block style %}
    {% endblock %}
</head>

<body>
    <div class="header mb-4 info"></div>
    <div class="container mb-4" style="min-height: 70vh;">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <a class="navbar-item">Trang chủ</a>
                <a class="navbar-item">Bài thi</a>
                <a class="navbar-item">Quy chế</a>
                <a class="navbar-item">Hướng dẫn làm bài</a>
                <div class="navbar-end">
                    <a class="navbar-item">Thông tin cá nhân</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Đăng xuất</a>
                </div>
            </div>
        </nav>
        <div class="columns">
            <div class="column is-full">
                <div class="panel is-info">
                    <p class="panel-heading">{{ main_header }}</p>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <h4>TỔNG CÔNG TY PHÁT ĐIỆN 1</h4>
                <p>Địa chỉ: Số 22, Dương Đình Nghệ, phường Trung Hòa, quận Cầu Giấy, TP Hà Nội, Việt Nam
                    <br>© Bản quyền thuộc về Tổng Công ty Phát điện 1</p>
            </div>
        </div>
    </footer>
    {% block footer_script %}
    {% endblock %}
</body>

</html>